In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('Salaries.csv');

In [3]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [6]:
sal['BasePay']

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
5         118602.00
6          92492.01
7         256576.96
8         176932.64
9         285262.00
10        194999.39
11         99722.00
12        294580.02
13        271329.03
14        174872.64
15        198778.01
16        268604.57
17        140546.87
18        168692.63
19        257510.59
20        257510.48
21        257510.44
22        140546.88
23        168692.63
24        140546.86
25        256470.41
26         92080.80
27        168692.59
28        261717.60
29        246225.60
            ...
148624         0.00
148625         0.00
148626         0.00
148627         0.00
148628         0.00
148629         0.00
148630         0.00
148631         0.00
148632         0.00
148633         0.00
148634         0.00
148635         0.00
148636         0.00
148637         0.00
148638         0.00
148639         0.00
148640         0.00
148641         0.00
148642         0.00
148643         0.00
148644         0.00
148645         0.00
148646          NaN
148647         0.00
148648         0.00
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64

In [7]:
#Use the .info() method to find out how many entries there are.
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 13.0+ MB

In [8]:
#What is the Average BasePAy?
sal['BasePay'].mean()

66325.4488404877

In [9]:
#What is the highest amouhnt of OverTimePay in th edataSet?
sal['OvertimePay'].max()

245131.88

In [15]:
# What is the job title of JOSEPH DRISCOLL? NOTE:Use all caps,otherwise you may 
#get an answer that does't match up(there is also a lowercase Joseph Driscol)
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [19]:
#How much does JOSEPH DRISCOLL make (including benefits)
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [21]:
#What is the name of highest paid person(including Benifts)
sal[sal['TotalPayBenefits']==[sal['TotalPayBenefits'].max()]]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [25]:
#same question as above
sal.loc[sal['TotalPayBenefits'].idxmax()] #we can also use argmax()

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [24]:
#What is the name of lowest paid person(includeing Benefits)?Do you notice something
#strange about how much he or she is paid?
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [28]:
#same question as above
sal.iloc[sal['TotalPayBenefits'].argmin()]

c:\python27\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [31]:
#What was the average (mean) basepay of all employee per year?(2001-2014)?
sal.groupby('Year').mean()
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [35]:
#how many unique job titles are there?
sal['JobTitle'].unique()
len(sal['JobTitle'].unique())
sal['JobTitle'].nunique()

2159

In [36]:
#what are the top 5 most common jobs?
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [39]:
#How many job title were represented by only one person in 2013?(e.g Job Titles)
#With only one occurence in 2013?)
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [46]:
#How many people have the word Chief in their job title
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
         return False

In [52]:
sum(sal['JobTitle'].apply(lambda x:chief_string(x)))

477

In [53]:
#Is there a correlation between length of the job title string and salary?
sal['title_len']=sal['JobTitle'].apply(len)

In [54]:
sal[['JobTitle','title_len']]

                                                JobTitle  title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [55]:
sal[['JobTitle','title_len']].corr()

           title_len
title_len        1.0

In [57]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000